@import 'variable';

.color-primary {
  color: $primary;
}

.text-body2 {
  font-size: $body2;
}

.text-error {
  font-size: 0.75rem;
  color: $danger;
}

.dx-datagrid-header-panel, .dx-toolbar .dx-toolbar-items-container {
  background: $color-background;
}

.dx-datagrid {
  background-color: #FFFFFF !important;
}

.dx-datagrid-headers {
  font-weight: 600 !important;
}