/*========================================================
        COLORS
=========================================================*/

$primary: #029141;
$success: #5FB584;
$danger: #CB0000;
$warning: #E5E505;
$dark: #1E1E1E;
$grey: #F3F3F3;

$grey-light: #dae1e7;
$white: #fff;
$black: #16191C;
$color-background: #ECEFF1;

$green-primary: #029141;
$green-secondary: #40AC6E;
$green-tertiary: #41CB00;

/*========================================================
        TYPOGRAPHY
=========================================================*/
$height-topbar: 64px;
$width-leftmenu: 270px;
$h1: 6rem;
$h2: 3.75rem;
$h3: 3rem;
$h4: 2.125rem;
$h5: 1.5rem;
$h6: 1.1rem;
$subtitle1: 1rem;
$subtitle2: 0.875rem;
$body1: 1rem;
$body2: 0.875rem;
$button-font-size: 0.875rem;
$caption: 0.75rem;
$overline: 0.75rem;