@import '../variable.scss';

.btn-green-3.css-50km6u-className {
  background: $green-tertiary;
}

.btn-green-3.css-50km6u-className:hover {
  background: $primary;
}

.rounded-full.css-50km6u-className {
  border-radius: 9999px;
}
